# Se establece la ruta como el archivo principal o pagina principal
# DirectoryIndex public_html/index.html

RewriteEngine On

# Para metodo GET, POST, PUT
RewriteRule ^api/([a-zA-Z]+)$ entryPoint.php
RewriteRule ^api/([a-zA-Z]+)/$ entryPoint.php

# Para metodo GET por Id y metodo DELETE
RewriteRule ^api/([a-zA-Z]+)/([0-9]+)$ entryPoint.php
RewriteRule ^api/([a-zA-Z]+)/([0-9]+)/$ entryPoint.php

# Expresiones regulares
## Alfanumericos | ([a-zA-Z0-9]+)
## Numericos     | ([0-9]+)
## Caracteres    | ([a-zA-Z]+)